body {
    background-color: #2b2b2c;
    box-shadow: 0 0 200px #1c1d25 inset;
}

.animation-box {
    width: 70px;
    height: 70px;
    background: #6610f2;
    margin: auto;
    border: 4px solid #6c757d;
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.animation-box-wrapper {
    width: 90px;
    height: 120px;
}
#box-1 {
    width: 100px;
    height: 100px;
}

#box-2 {
    max-width: 200px;
    height: 200px;
    padding: 50px;
}

.animation-container {
    background-color: white;
    box-shadow: 0 0 200px #dddddd inset;
    // margin-bottom: 20px;
}
.text-lightgray {
    color: lightgray;
}
.text-purple {
    color: #6610f2;
}
#direction-wrapper {
    button {
        min-width: 100px;
    }
}

.slider {
    -webkit-appearance: none;
    padding: 0 10px;
    appearance: none;
    width: 200px;
    border-radius: 10px;
    height: 10px;
    background: #76767691;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #6610f2;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    cursor: pointer;
}
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

.range-label {
    width: 200px;
    margin: auto;
    // color: lightgray;
}